<section>
  <fieldset>
    <legend>Create Book</legend>

    {{ form.invalid | json }}

    <form (submit)="onSubmit($event, form)" #form="ngForm" autocomplete="off">
      <div class="form-control">
        <label for="">title</label>
        <input type="text" name="title" [(ngModel)]="book.title" required />
      </div>
      <div class="form-control">
        <label for="">author</label>
        <input type="text" name="author" [(ngModel)]="book.author" required />
      </div>
      <div class="form-control">
        <label for="">pages</label>
        <input type="text" name="pages" [(ngModel)]="book.pages" />
      </div>
      <div class="form-control">
        <label for="">year</label>
        <input type="text" name="year" [(ngModel)]="book.year" />
      </div>
      <div class="form-control">
        <label for="">publisher</label>
        <input type="text" name="publisher" [(ngModel)]="book.publisher" />
      </div>
      <button *ngIf="form.valid">Submit</button>
    </form>
  </fieldset>
</section>

<section>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let book of books" (click)="onSelect(book)">
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.year }}</td>
        <td>Future Actions</td>
      </tr>
    </tbody>
  </table>
</section>

<section *ngIf="selectedBook">
  <p>ID: {{ selectedBook.id }}</p>
  <p>title: {{ selectedBook.title }}</p>
  <p>author: {{ selectedBook.author }}</p>
  <p>publisher: {{ selectedBook.publisher }}</p>
  <p>pages: {{ selectedBook.pages }}</p>
  <p>year: {{ selectedBook.year }}</p>
</section>
