<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Authors</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/authors/new">Create Author</a>
        <a href="/books">Books</a>
      </li>
    </ul>
  </nav>

  <section>
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th>age</th>
          <th>is alive</th>
          <th>books</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% for (const author of authors) { %>
          <tr>
            <td><%= author.name %></td>
            <td><%= author.age %></td>
            <td><%= author.isAlive %></td>
            <td>
              <ul>
                <% for (const book of author.books) { %>
                  <li><%= book.title %></li>
                <% } %>
              </ul>
            </td>
            <td>Future Actions</td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </section>
</body>
</html>